vendor/
logs/
composer.phar
composer.lock
.DS_Store
/node_modules
/vendor
.idea
.idea/
/.idea
/.idea/*
/.vscode
/nbproject
/.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache
.coronadatarc
run/
*.jgz
*.log
*.xml
*~

\.php_cs\.cache

sbin/CoronaData-CLI.php
sbin/CoronaData-MQTT.php
